h1 {
  background-color: darkblue;
  color: white;
  font-family: verdana;
  margin: 0;
  padding-left: 10px;
}

body {
  background-color: lightgreen;
  margin: 0;
}

td, #choices{
  font-size: 22px;
}

#choose {
  font-size: 25px
}
